body {
    background-color: #232525;
}

#screen {
    border: 1px dashed #a9b7c6;
    margin: auto;
    height: 510px;
    width: 930px;
    font-size: 20px;
    padding: 15px;
}

.line {
    overflow-x: hidden;
}

.line-cursor{
    opacity: 1;
    -webkit-animation: blink 1s infinite;
    -moz-animation: blink 1s infinite;
    animation: blink 1s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}